.mainBlock {
    background-color: lightyellow;
    height: 100vh;
}
.greetingBlock {
    width: 350px;
    background-color: palegoldenrod;
}
.photoBlock {
    width: 350px;
    height: 400px;
    background-color: palegoldenrod;
}
.photoBlock img {
    height: 80%;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    padding: 10px;
}