.footerBlock {
    height: 170px;
}
.footerContainer {
    align-items: center;
    flex-direction: column;
}
.contacts {
    border: 1px solid;
    width: 50%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.copyright {
    margin-top: 30px;
}